@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


/* General */
:root {
  --fondo: #A7ADC6;
  --some-letters: #4c3a69;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Itim', cursive;
    background-color: var(--fondo);
}

@media (max-width: 768px) {
  body {
    padding: 90px 20px 0;
  }
  .header{
    height: 60px;
  }
  .nombre{
    padding: 0 20px;
    line-height: 40px;
  }
  .nav-links{
    flex-direction: column;
    align-items: center;
    line-height: 80px;
    margin-right: 20px;
    background-color: #4c3a69;
    position: fixed;
    left: 0;
    top: 100px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 40px);
    overflow-y: auto;
  }

  #contenedor-barra-progreso{
    display: none;
  }

  .puntos{
    display: none;
    position: relative;
    overflow: hidden;
  }
}

/* NavBar */
.header{
    background: var(--fondo);
    position:fixed;
    width: 100%;
    height: 100px;
    top: 0px;
    left: 0px;
    z-index: 100;
}

.header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items:start;
    padding: 25px 10px;
}

.header header .nombre a{
    font-family: "Itim";
    font-size: 34px;
    color: var(--some-letters);
    text-decoration:none;
}

.header header ul{
    display: flex;
    list-style: none;
}

.header header ul li a{
    text-align: none;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin: 0 25px;
    padding: 3px;
    transition: .6s;
}

.header header nav ul li a:hover{
    text-transform: lowercase;
    color: var(--some-letters);
    font-weight: 900;
    font-style: italic;
}

.nav-boton {
    background-color: var(--some-letters);
    color: white;
    padding: 5px 10px;
    border-radius: 7px;
    cursor: pointer;
    line-height: 60px;
    display: none;
}

/*Inicio, Carrusel/imágenes */
#carrusel{
  position: relative;
  overflow: hidden;
}

#contenedor-barra-progreso{
  position:fixed;
  height: 10px;
  background-color: aliceblue;
  width: 100%;
  top: 100px;
  z-index: 1000;
}

#barra-progreso{
  height: 100%;
  background-color: var(--some-letters);
  border-radius: 0 3px 3px 0;
  transition: width 0.8s;
}

#grande{
  position: static;
  z-index: 998;
  height: 600px;
}

img {
  position:absolute;
  height: 100%;
  width: 100%;
  top: 100px;
  left: 0;
  object-fit: cover;
}

#img2{
  left: 100%;
}

.activa{
  left: 0 !important;
}

#indicadores{
  width: 100%;
  text-align: center;
  bottom: 20px;
  z-index: 999;
}

.puntos{
  border: white 2px solid;
  width: 25px;
  height: 25px;
  display:inline-block;
  position:relative;
  margin: 0 5px 0 5px;
  background-color: transparent;
  border-radius: 50%;
}
.resaltado{
  background-color: var(--fondo);
  transition: background-color .8s;
}

/* Acerca de mi */
.aboutme{
  background-color: var(--some-letters);
  color: white;
  padding: 150px 20px;
}

.aboutme .contenido{
  max-width: 1100px;
  margin: auto;
}

/* Título */
.aboutme h3{
  font-size: 36px;
  text-align: center;
  padding: 15px 0;
}

/* Titulo datos personales e intereses */
.aboutme h2{
  font-size: 26px;
  text-align:justify;
  padding: 15px 0;
}

.aboutme .contenido p{
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 20px;
  text-align: justify;
}

.aboutme .fila{
  display: flex;
}

.aboutme .fila .col{
  width: 100%;
}

.aboutme .fila .col{
  font-size: 20px;
  margin-bottom: 25px;
}

/* links personales */
.aboutme .fila .col a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 22px;
}

.aboutme .fila .col ul{
  list-style: none;
}

/* intereses */
.aboutme .fila .col span{
  text-align: justify;
  margin-bottom: 5px;
  display: block;
  color: rgb(255, 255, 255);
}

/* titulo de los datos personales */
.aboutme .fila .col ul li strong{
  display:inline-table;
  color: rgb(246, 162, 253);
  font-size: 22px;
  width: 130px;
  padding: 2px;
}